/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-darker;
  }
}

#root {
  height: 300px;
  @apply container mx-auto max-w-screen-xs bg-gray-base shadow relative;
}

.list-videos {
  height: 185px;
  @apply p-2 overflow-x-hidden overflow-y-auto;
}

/* preloader */
.preloader {
  @apply h-9 w-9 border-4 border-gray-light rounded-full absolute left-0 right-0 mx-auto;
  margin-top: 30%;
  border-top-color: theme("colors.primary.DEFAULT");
  animation: spin 2s linear infinite;
}

/* tooltip */
.tooltip::before {
  @apply bg-gray-light text-primary border border-gray-dark rounded text-xs p-2 absolute top-10;
  content: attr(data-tooltip);
  width: fit-content;
  display: none;
}

.tooltip:hover::before {
  display: block;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-light;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-light rounded-sm border border-gray-light;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
